{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Schema Project</title>

    <link rel="canonical" href="index.html">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="index.html#">Schema Project</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="index.html#">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html#">
                            <span data-feather="home"></span>
                            Главная
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#">
                            <span data-feather="file"></span>
                            Импорт
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#">
                            <span data-feather="file"></span>
                            Экспорт
                        </a>
                    </li>
                    {#              <li class="nav-item">#}
                    {#                <a class="nav-link" href="index.html#">#}
                    {#                  <span data-feather="users"></span>#}
                    {#                  Customers#}
                    {#                </a>#}
                    {#              </li>#}
                    {#              <li class="nav-item">#}
                    {#                <a class="nav-link" href="index.html#">#}
                    {#                  <span data-feather="bar-chart-2"></span>#}
                    {#                  Reports#}
                    {#                </a>#}
                    {#              </li>#}
                    {#              <li class="nav-item">#}
                    {#                <a class="nav-link" href="index.html#">#}
                    {#                  <span data-feather="layers"></span>#}
                    {#                  Integrations#}
                    {#                </a>#}
                    {#              </li>#}
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="index.html#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#">
                            <span data-feather="file-text"></span>
                            Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#">
                            <span data-feather="file-text"></span>
                            Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#">
                            <span data-feather="file-text"></span>
                            Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#">
                            <span data-feather="file-text"></span>
                            Year-end sale
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">График количества скота ({% if all %}Общий по стране {% else %}
                    {{ city_title }} {% endif %})</h1>
                <form method="get" style="width: 50%">
                    <select name="city" class="form-control" onchange="this.form.submit()">
                        <option class="text-center">Укажите город</option>
                        {% for city in cities %}
                            {% if city.id == city_id %}
                                <option class="text-center" selected value="{{ city.id }}">{{ city }}</option>
                            {% else %}
                                <option class="text-center" value="{{ city.id }}">{{ city }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>

            </div>


            <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

            <h2>Данные о скоте на местности</h2>

            <div class="row">
                <div class="col-md-6 mb-5">
                    <form method="get">
                        <select name="view" class="form-control" onchange="var let = new URL("{{ request.path }}")>
                            <option>Вид</option>
                            {% for beast_view in beast_views %}
                                <option value="{{ beast_view.id }}">{{ beast_view }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="col-md-6 mb-5">
                    <form method="get">
                        <select name="breed" class="form-control" onchange="this.form.submit()">
                            <option>Порода</option>
                            {% for breed in breeds %}
                                <option value="{{ breed.id }}">{{ breed }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>


            <div class="table-responsive">
                {% if beasts %}
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Вид</th>
                            <th>Порода</th>
                            <th>Пол</th>
                            <th>Дата рождения</th>
                            <th>Локация</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for beast in beasts %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ beast.beast_view }}</td>
                                <td>{{ beast.breed }}</td>
                                <td>{{ beast.get_gender_display }}</td>
                                <td>{{ beast.birthday_date }}</td>
                                <td>{{ beast.location }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>


                    </table>
                {% else %}
                    <div class="col-md-12">
                        <h1 class="text-center mt-5">Данные не найдены </h1>
                    </div>
                {% endif %}
            </div>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static "vendor/jquery-slim.min.js" %}"><\/script>')</script>
<script src="{% static 'vendor/popper.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            datasets: [{
                data: [{% for x in graphic %}{{ x }}, {% endfor %}],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>
</body>
</html>
